In [1]:
# For reference
str = '''
{
   "cell_type": "markdown",
   "id": "24dc635d-fade-4a9c-bbf8-25f5d2331fea",
   "metadata": {},
   "source": [
    "##### Age, Gender, Occupation"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "988bc839-0e0a-46a7-a184-5c1d5741a1ca",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    "pd.crosstab(index=df_vacations_data.Gender, columns=df_vacations_data.Occupation,\n",
    "           values=df_vacations_data.Age, aggfunc='mean')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "bb79db95-cee7-4761-b11d-c667e74cb3a5",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    "pd.crosstab(index=df_vacations_data.Gender, columns=df_vacations_data.Occupation,\n",
    "           values=df_vacations_data.Age, aggfunc='min')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "4906f307-3410-43f5-8f7f-8baa0e195aaa",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    "pd.crosstab(index=df_vacations_data.Gender, columns=df_vacations_data.Occupation,\n",
    "           values=df_vacations_data.Age, aggfunc='max')"
   ]
  }
'''

In [2]:
# For reference: Interpretation
{
   "cell_type": "markdown",
   "id": "3d4855b1-1663-474e-9474-7d0aff9f6c54",
   "metadata": {},
   "source": [
    "**INTERPRETATION**\n",
    " - When do_sports is no and gender is female average age is 44.802\n",
    " - When do_sports is no and gender is male average age is 44.845\n",
    " - When do_sports is yes and gender is female average age is 39.085\n",
    " - When do_sports is yes and gender is male average age is 36.924\n",
    "\n"
   ]
  }

{'cell_type': 'markdown',
 'id': '3d4855b1-1663-474e-9474-7d0aff9f6c54',
 'metadata': {},
 'source': ['**INTERPRETATION**\n',
  ' - When do_sports is no and gender is female average age is 44.802\n',
  ' - When do_sports is no and gender is male average age is 44.845\n',
  ' - When do_sports is yes and gender is female average age is 39.085\n',
  ' - When do_sports is yes and gender is male average age is 36.924\n',
  '\n']}

In [ ]:
import pandas as pd
import itertools
import json

dataframeName = input('Enter your dataframe Name: ')
dataSetName = input("Enter your dataset name: ")
dataframe = pd.read_excel(dataSetName)

# dataframe = pd.read_excel('vacation_data.xlsx')

dataframe.drop(['Income(k$)', 'Expenditure'], axis=1, inplace=True)
dataframe.dropna(inplace=True)

# Column Names
categories = ["Gender", "Occupation", "State", "relationship_status", "rest_and_relax", "do_sports", "fun_and_entertainment", "good_company", "health_and_beauty", "entertainment_facilities", "not_care_about_prices", "intense_experience_of_nature", "cultural_offers"]

combinations = [['Age',] + list(combo) for combo in itertools.combinations(categories, 2)]
for i in combinations:
    print(i)


with open('test.ipynb', 'w') as f:
    cells = []

    for i in combinations:
        df1 = pd.crosstab(index=dataframe[i[1]], columns=dataframe[i[2]],
           values=dataframe[i[0]], aggfunc='mean')
        df2 = pd.crosstab(index=dataframe[i[1]], columns=dataframe[i[2]],
           values=dataframe[i[0]], aggfunc='min')
        df3 = pd.crosstab(index=dataframe[i[1]], columns=dataframe[i[2]],
           values=dataframe[i[0]], aggfunc='max')
        
        interpretation = ''
        for col in df1.columns.tolist():
            for index in df1.index.tolist():
                interpretation += f" - When {i[2]} is {col} and {i[1]} is {index} average {i[0]} is {round(df1.loc[index, col],3)}\n\n"
        for col in df2.columns.tolist():
            for index in df1.index.tolist():
                interpretation += f" - When {i[2]} is {col} and {i[1]} is {index} minimum {i[0]} is {round(df2.loc[index, col],3)}\n\n"
        for col in df3.columns.tolist():
            for index in df1.index.tolist():
                interpretation += f" - When {i[2]} is {col} and {i[1]} is {index} maximum {i[0]} is {round(df3.loc[index, col],3)}\n\n"
        
        cells.append({
   "cell_type": "markdown",
   "id": "24dc635d-fade-4a9c-bbf8-25f5d2331fea",
   "metadata": {},
   "source": [
    f"##### {i[0]}, {i[1]}, {i[2]}"
   ]
  })
        cells.append({
   "cell_type": "code",
   "execution_count": None,
   "id": "988bc839-0e0a-46a7-a184-5c1d5741a1ca",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    f"pd.crosstab(index={dataframeName}.{i[1]}, columns={dataframeName}.{i[2]},\n",
    f"           values={dataframeName}.{i[0]}, aggfunc='mean')"
   ]
  })
        cells.append({
   "cell_type": "code",
   "execution_count": None,
   "id": "bb79db95-cee7-4761-b11d-c667e74cb3a5",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    f"pd.crosstab(index={dataframeName}.{i[1]}, columns={dataframeName}.{i[2]},\n",
    f"           values={dataframeName}.{i[0]}, aggfunc='min')"
   ]
  })
        cells.append({
   "cell_type": "code",
   "execution_count": None,
   "id": "4906f307-3410-43f5-8f7f-8baa0e195aaa",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Create an Crosstab\n",
    f"pd.crosstab(index={dataframeName}.{i[1]}, columns={dataframeName}.{i[2]},\n",
    f"           values={dataframeName}.{i[0]}, aggfunc='max')"
   ]
  })
        cells.append({
   "cell_type": "markdown",
   "id": "3d4855b1-1663-474e-9474-7d0aff9f6c54",
   "metadata": {},
   "source": [
    "**INTERPRETATION**\n",
    interpretation
   ]
  })

    # Construct the final notebook JSON
    notebook_content = {
        "cells": cells,
        "metadata": {
            "language_info": {
                "name": "python"
            }
        },
        "nbformat": 4,
        "nbformat_minor": 2
    }

    # Write to file as valid JSON
    json.dump(notebook_content, f, indent=2)

['Age', 'Gender', 'Occupation']
['Age', 'Gender', 'State']
['Age', 'Gender', 'relationship_status']
['Age', 'Gender', 'rest_and_relax']
['Age', 'Gender', 'do_sports']
['Age', 'Gender', 'fun_and_entertainment']
['Age', 'Gender', 'good_company']
['Age', 'Gender', 'health_and_beauty']
['Age', 'Gender', 'entertainment_facilities']
['Age', 'Gender', 'not_care_about_prices']
['Age', 'Gender', 'intense_experience_of_nature']
['Age', 'Gender', 'cultural_offers']
['Age', 'Occupation', 'State']
['Age', 'Occupation', 'relationship_status']
['Age', 'Occupation', 'rest_and_relax']
['Age', 'Occupation', 'do_sports']
['Age', 'Occupation', 'fun_and_entertainment']
['Age', 'Occupation', 'good_company']
['Age', 'Occupation', 'health_and_beauty']
['Age', 'Occupation', 'entertainment_facilities']
['Age', 'Occupation', 'not_care_about_prices']
['Age', 'Occupation', 'intense_experience_of_nature']
['Age', 'Occupation', 'cultural_offers']
['Age', 'State', 'relationship_status']
['Age', 'State', 'rest_and_relax']
['Age', 'State', 'do_sports']
['Age', 'State', 'fun_and_entertainment']
['Age', 'State', 'good_company']
['Age', 'State', 'health_and_beauty']
['Age', 'State', 'entertainment_facilities']
['Age', 'State', 'not_care_about_prices']
['Age', 'State', 'intense_experience_of_nature']
['Age', 'State', 'cultural_offers']
['Age', 'relationship_status', 'rest_and_relax']
['Age', 'relationship_status', 'do_sports']
['Age', 'relationship_status', 'fun_and_entertainment']
['Age', 'relationship_status', 'good_company']
['Age', 'relationship_status', 'health_and_beauty']
['Age', 'relationship_status', 'entertainment_facilities']
['Age', 'relationship_status', 'not_care_about_prices']
['Age', 'relationship_status', 'intense_experience_of_nature']
['Age', 'relationship_status', 'cultural_offers']
['Age', 'rest_and_relax', 'do_sports']
['Age', 'rest_and_relax', 'fun_and_entertainment']
['Age', 'rest_and_relax', 'good_company']
['Age', 'rest_and_relax', 'health_and_beauty']
['Age', 'rest_and_relax', 'entertainment_facilities']
['Age', 'rest_and_relax', 'not_care_about_prices']
['Age', 'rest_and_relax', 'intense_experience_of_nature']
['Age', 'rest_and_relax', 'cultural_offers']
['Age', 'do_sports', 'fun_and_entertainment']
['Age', 'do_sports', 'good_company']
['Age', 'do_sports', 'health_and_beauty']
['Age', 'do_sports', 'entertainment_facilities']
['Age', 'do_sports', 'not_care_about_prices']
['Age', 'do_sports', 'intense_experience_of_nature']
['Age', 'do_sports', 'cultural_offers']
['Age', 'fun_and_entertainment', 'good_company']
['Age', 'fun_and_entertainment', 'health_and_beauty']
['Age', 'fun_and_entertainment', 'entertainment_facilities']
['Age', 'fun_and_entertainment', 'not_care_about_prices']
['Age', 'fun_and_entertainment', 'intense_experience_of_nature']
['Age', 'fun_and_entertainment', 'cultural_offers']
['Age', 'good_company', 'health_and_beauty']
['Age', 'good_company', 'entertainment_facilities']
['Age', 'good_company', 'not_care_about_prices']
['Age', 'good_company', 'intense_experience_of_nature']
['Age', 'good_company', 'cultural_offers']
['Age', 'health_and_beauty', 'entertainment_facilities']
['Age', 'health_and_beauty', 'not_care_about_prices']
['Age', 'health_and_beauty', 'intense_experience_of_nature']
['Age', 'health_and_beauty', 'cultural_offers']
['Age', 'entertainment_facilities', 'not_care_about_prices']
['Age', 'entertainment_facilities', 'intense_experience_of_nature']
['Age', 'entertainment_facilities', 'cultural_offers']
['Age', 'not_care_about_prices', 'intense_experience_of_nature']
['Age', 'not_care_about_prices', 'cultural_offers']
['Age', 'intense_experience_of_nature', 'cultural_offers']